//
//  Spark Core (USB).xcconfig 
//  Board config file
//  ----------------------------------
//  Developed with embedXcode
//
//  Part of embedXcode
//  Embedded Computing on Xcode
//
//  Created by 	Rei Vilo on Nov 30, 2014
//  Copyright   (c) 2010-2015 http://embedxcode.weebly.com
//  Licence     All rigths reserved
//
// Last update: Jan 06, 2015 release 243

// Board identifier
// See Boards.txt for <tag>.name=Arduino Uno (16 MHz)
//
BOARD_TAG  = sparkcore_usb

// Port (optionnal)
// most common are /dev/tty.usbserial*, /dev/tty.usbmodem* or /dev/tty.uart*
//
BOARD_PORT = /dev/tty.usbmodem*

// References for Xcode code-sense
// See Boards.txt for <tag>.build.mcu=<GCC_PREPROCESSOR_DEFINITIONS>
//
GCC_PREPROCESSOR_DEFINITIONS = SPARK

// Specify the full path and name of the application
// with /Contents/Resources/Java/** after
//
HEADER_SEARCH_PATHS = ~/Library/embedXcode/Spark/firmware/**

// Maximum RAM size in bytes
// given by <tag>.upload.maximum_ram_size in boards.txt for Maple and Teensy
// given by <tag>.upload.maximum_data_size in boards.txt for Arduino 1.5.x
//
//MAX_RAM_SIZE    = 2048

// Uploader: spark_usb or spark_wifi
//
UPLOADER        = spark_usb

// ---- Additional definitions for mbed-enabled board
//
BOARD_NAME      = Spark Core

MCU             = cortex-m3
FPU_OPTIONS     =
BUILD_OPTIONS   = STM32F10X_MD

LDSCRIPT        = linker_stm32f10x_md_dfu.ld
STARTUP         = startup_stm32f10x_md.S
//SYSTEM         = system_stm32f4xx
//VARIANT        = TARGET_STM32F4XX

TOOLCHAIN       = TOOLCHAIN_GCC_ARM

// Maximum Flash and RAM sizes in bytes
MAX_FLASH_SIZE  = 131072
MAX_RAM_SIZE    = 20480

// Paths in libraries/mbed/targets/hal/TARGET_STM/TARGET_NUCLEO_F401RE
//                                    /LEVEL1    /LEVEL2
LEVEL1          = core-v1
LEVEL2          = STM32F1xx
LEVEL3          = CC3000

// Paths in build/mbed/TARGET_NUCLEO_F401RE/TARGET_STM/TARGET_NUCLEO_F401RE
//                    /LEVEL0
LEVEL0          = TARGET_SPARK

// Additional options for libraries
MORE_OPTIONS            =
MORE_TARGET_INCLUDE     =
MORE_TOOLCHAIN_INCLUDE  =

// FAST=pre-compiled or FULL make option
SPARK_MAKE_OPTION       = FAST

// ---- End of additional definitions
